<a href="https://colab.research.google.com/github/meozbrls/Flight_Prices_Analysis/blob/buse/price_dynamics_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip -q install gdown pyarrow

import gdown, os
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [2]:
import os
os.makedirs("data", exist_ok=True)
os.makedirs("out", exist_ok=True)
print("Klasörler hazır")

Klasörler hazır

In [3]:
FILE_ID = "1TrX_MuNS-EvrjKutCqzLnOa2W6X6Y3Dm"
OUTPUT_PATH = "data/flightprices.csv"

url = f"https://drive.google.com/uc?id={FILE_ID}"
gdown.download(url, OUTPUT_PATH, quiet=False)

print("Dosya indirildi:", OUTPUT_PATH)

Downloading...
From (original): https://drive.google.com/uc?id=1TrX_MuNS-EvrjKutCqzLnOa2W6X6Y3Dm
From (redirected): https://drive.google.com/uc?id=1TrX_MuNS-EvrjKutCqzLnOa2W6X6Y3Dm&confirm=t&uuid=b63ddf4a-72b1-4cad-8aec-70a218c66fc7
To: /content/data/flightprices.csv
100%|██████████| 2.63G/2.63G [00:47<00:00, 55.3MB/s]

Dosya indirildi: data/flightprices.csv

In [4]:
import os
os.listdir("data")

['price_time_core.csv', 'flightprices.csv']

In [5]:
USE_COLS = [
    "legId",
    "searchDate","flightDate",
    "startingAirport","destinationAirport",
    "baseFare","totalFare",
    "isNonStop","isBasicEconomy",
    "seatsRemaining",
    "segmentsAirlineName","segmentsAirlineCode",
    "travelDuration"
]

In [6]:
import pandas as pd
import os

INPUT_CSV = "data/flightprices.csv"
OUTPUT_CSV = "data/price_time_core.csv"

USE_COLS = [
    "legId",
    "searchDate","flightDate",
    "startingAirport","destinationAirport",
    "baseFare","totalFare",
    "isNonStop","isBasicEconomy",
    "seatsRemaining",
    "segmentsAirlineName","segmentsAirlineCode",
    "travelDuration"
]

CHUNK_SIZE = 300_000

# varsa sil
if os.path.exists(OUTPUT_CSV):
    os.remove(OUTPUT_CSV)

chunks = pd.read_csv(
    INPUT_CSV,
    usecols=USE_COLS,
    chunksize=CHUNK_SIZE,
    low_memory=False
)

for i, chunk in enumerate(chunks):
    chunk.to_csv(OUTPUT_CSV, index=False, mode="a", header=(i==0))
    print(f"Chunk {i+1} yazıldı: {chunk.shape}")

print("✅ Yeni CSV oluşturuldu:", OUTPUT_CSV)

Chunk 1 yazıldı: (300000, 13)
Chunk 2 yazıldı: (300000, 13)
Chunk 3 yazıldı: (300000, 13)
Chunk 4 yazıldı: (300000, 13)
Chunk 5 yazıldı: (300000, 13)
Chunk 6 yazıldı: (300000, 13)
Chunk 7 yazıldı: (300000, 13)
Chunk 8 yazıldı: (300000, 13)
Chunk 9 yazıldı: (300000, 13)
Chunk 10 yazıldı: (300000, 13)
Chunk 11 yazıldı: (300000, 13)
Chunk 12 yazıldı: (300000, 13)
Chunk 13 yazıldı: (300000, 13)
Chunk 14 yazıldı: (300000, 13)
Chunk 15 yazıldı: (300000, 13)
Chunk 16 yazıldı: (300000, 13)
Chunk 17 yazıldı: (300000, 13)
Chunk 18 yazıldı: (300000, 13)
Chunk 19 yazıldı: (300000, 13)
Chunk 20 yazıldı: (300000, 13)
Chunk 21 yazıldı: (300000, 13)
Chunk 22 yazıldı: (300000, 13)
Chunk 23 yazıldı: (300000, 13)
Chunk 24 yazıldı: (300000, 13)
Chunk 25 yazıldı: (300000, 13)
Chunk 26 yazıldı: (300000, 13)
Chunk 27 yazıldı: (300000, 13)
Chunk 28 yazıldı: (300000, 13)
Chunk 29 yazıldı: (300000, 13)
Chunk 30 yazıldı: (300000, 13)
Chunk 31 yazıldı: (300000, 13)
Chunk 32 yazıldı: (300000, 13)
Chunk 33 yazıldı: (300000, 13)
Chunk 34 yazıldı: (300000, 13)
Chunk 35 yazıldı: (300000, 13)
Chunk 36 yazıldı: (300000, 13)
Chunk 37 yazıldı: (300000, 13)
Chunk 38 yazıldı: (300000, 13)
Chunk 39 yazıldı: (300000, 13)
Chunk 40 yazıldı: (74933, 13)
✅ Yeni CSV oluşturuldu: data/price_time_core.csv

In [7]:
df = pd.read_csv("data/price_time_core.csv", low_memory=False)
print(df.shape)
df.head()

(11774933, 13)

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isNonStop,baseFare,totalFare,seatsRemaining,segmentsAirlineName,segmentsAirlineCode
0,684e879e0f2cefcdbfba1f7e35f897a3,2022-04-17,2022-06-01,ATL,BOS,PT2H28M,False,True,31.00,87.59,0,Spirit Airlines,NK
1,222cfd6d1b0d5732602a3e82ad7730c3,2022-04-17,2022-06-01,ATL,BOS,PT4H50M,False,False,65.48,93.99,4,Frontier Airlines||Frontier Airlines,F9||F9
2,5b13b222dff8d227c34ba5f0b10a8b5a,2022-04-17,2022-06-01,ATL,BOS,PT8H38M,False,False,25.58,95.16,0,Spirit Airlines||Spirit Airlines,NK||NK
3,71cf5163f5efbd007c87aeef85e0c2cc,2022-04-17,2022-06-01,ATL,BOS,PT2H37M,False,True,161.86,188.60,9,Delta,DL
4,141ef83862caac6be402158433b55c1f,2022-04-17,2022-06-01,ATL,BOS,PT2H41M,False,True,161.86,188.60,2,Delta,DL

In [8]:
import pandas as pd
import numpy as np

# 1) Tarihleri datetime'a çevir
df["searchDate"] = pd.to_datetime(df["searchDate"], errors="coerce")
df["flightDate"] = pd.to_datetime(df["flightDate"], errors="coerce")

# 2) Geçersiz tarihleri temizle
df = df.dropna(subset=["searchDate", "flightDate"]).copy()

# 3) days_before_flight
df["days_before_flight"] = (df["flightDate"] - df["searchDate"]).dt.days

# negatif olanlar data hatası → at
df = df[df["days_before_flight"] >= 0].copy()

# 4) Route
df["route"] = df["startingAirport"].astype(str) + "-" + df["destinationAirport"].astype(str)

# 5) flight_month (YYYY-MM)
df["flight_month"] = df["flightDate"].dt.to_period("M").astype(str)

# 6) Lead time bucket
bins = [-1, 3, 7, 14, 30, 60, 10**9]
labels = ["0-3", "4-7", "8-14", "15-30", "31-60", "61+"]

df["lead_time_bucket"] = pd.cut(df["days_before_flight"], bins=bins, labels=labels)

# 7) Airline (ilk segment)
df["airline"] = df["segmentsAirlineName"].astype(str).str.split(r"\|\|").str[0]
df["airline_code"] = df["segmentsAirlineCode"].astype(str).str.split(r"\|\|").str[0]

# 8) Price numeric + basic sanity
df["totalFare"] = pd.to_numeric(df["totalFare"], errors="coerce")
df["baseFare"] = pd.to_numeric(df["baseFare"], errors="coerce")
df = df.dropna(subset=["totalFare"]).copy()
df = df[df["totalFare"] > 0].copy()

print("Feature engineering bitti. Son shape:", df.shape)
df[["legId","searchDate","flightDate","days_before_flight","lead_time_bucket","route","flight_month","airline","totalFare"]].head()

Feature engineering bitti. Son shape: (11774933, 19)

,legId,searchDate,flightDate,days_before_flight,lead_time_bucket,route,flight_month,airline,totalFare
0,684e879e0f2cefcdbfba1f7e35f897a3,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Spirit Airlines,87.59
1,222cfd6d1b0d5732602a3e82ad7730c3,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Frontier Airlines,93.99
2,5b13b222dff8d227c34ba5f0b10a8b5a,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Spirit Airlines,95.16
3,71cf5163f5efbd007c87aeef85e0c2cc,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Delta,188.60
4,141ef83862caac6be402158433b55c1f,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Delta,188.60

In [9]:
df["lead_time_bucket"].value_counts()

lead_time_bucket
31-60    4935909
15-30    3153881
8-14     1827298
4-7      1052013
0-3       805832
61+            0
Name: count, dtype: int64

In [10]:
price_df = df[
    [
        "legId",
        "searchDate",
        "flightDate",
        "days_before_flight",
        "lead_time_bucket",
        "route",
        "airline",
        "totalFare"
    ]
].copy()

price_df.head()

,legId,searchDate,flightDate,days_before_flight,lead_time_bucket,route,airline,totalFare
0,684e879e0f2cefcdbfba1f7e35f897a3,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Spirit Airlines,87.59
1,222cfd6d1b0d5732602a3e82ad7730c3,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Frontier Airlines,93.99
2,5b13b222dff8d227c34ba5f0b10a8b5a,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Spirit Airlines,95.16
3,71cf5163f5efbd007c87aeef85e0c2cc,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Delta,188.60
4,141ef83862caac6be402158433b55c1f,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Delta,188.60

In [11]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11774933 entries, 0 to 11774932
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   legId               object
 1   searchDate          datetime64[ns]
 2   flightDate          datetime64[ns]
 3   days_before_flight  int64
 4   lead_time_bucket    category
 5   route               object
 6   airline             object
 7   totalFare           float64
dtypes: category(1), datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 640.1+ MB

In [12]:
# lead_time (uçuştan kaç gün önce arama yapıldığı) bilgisine göre price bilgilerini aggregate oluşturuyoruz
global_timing = (
    price_df
    .groupby("lead_time_bucket")
    .agg(
        flight_count = ("legId", "count"),
        avg_price    = ("totalFare", "mean"),
        median_price = ("totalFare", "median"),
        min_price    = ("totalFare", "min"),
        max_price    = ("totalFare", "max"),
        std_price    = ("totalFare", "std"),
    )
    .reset_index()
)

# bucket sırasını ayarlıyrouz
bucket_order = ["0-3","4-7","8-14","15-30","31-60","61+"]
global_timing["lead_time_bucket"] = pd.Categorical(
    global_timing["lead_time_bucket"],
    categories=bucket_order,
    ordered=True
)

global_timing = global_timing.sort_values("lead_time_bucket")

global_timing

/tmp/ipython-input-836528079.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("lead_time_bucket")

,lead_time_bucket,flight_count,avg_price,median_price,min_price,max_price,std_price
0,0-3,805832,400.413046,358.6,30.69,4752.60,227.367352
1,4-7,1052013,399.666675,362.2,29.59,4752.60,220.848119
2,8-14,1827298,402.781791,371.6,29.59,7554.20,224.023025
3,15-30,3153881,410.705152,381.6,30.69,8260.61,226.562836
4,31-60,4935909,392.519788,365.6,30.69,8260.61,209.537686
5,61+,0,NaN,NaN,NaN,NaN,NaN

In [13]:
global_timing = global_timing[global_timing["lead_time_bucket"] != "61+"].copy()

In [24]:
# 60+ lead_time kısmını temizliyoruz
bucket_order = ["0-3","4-7","8-14","15-30","31-60"]

price_df = price_df[price_df["lead_time_bucket"].isin(bucket_order)].copy()

In [14]:
global_timing.sort_values("median_price")

,lead_time_bucket,flight_count,avg_price,median_price,min_price,max_price,std_price
0,0-3,805832,400.413046,358.6,30.69,4752.60,227.367352
1,4-7,1052013,399.666675,362.2,29.59,4752.60,220.848119
4,31-60,4935909,392.519788,365.6,30.69,8260.61,209.537686
2,8-14,1827298,402.781791,371.6,29.59,7554.20,224.023025
3,15-30,3153881,410.705152,381.6,30.69,8260.61,226.562836

In [15]:
# son gün aldığımızda fiyat daha mı yüksek (last minute price increase)
gt = global_timing.set_index("lead_time_bucket")["median_price"]

gt.loc["0-3"] > gt.loc["8-14"]

np.False_

In [16]:
# Erken rezervasyon daha mı avantajlı
gt.loc["15-30"] < gt.loc["8-14"]

np.False_

In [17]:
global_timing.to_csv("out/mart_time_global.csv", index=False)

In [18]:
# dosyayı indirme
#from google.colab import files

#files.download("out/mart_time_global.csv")

In [25]:
route_timing = (
    price_df
    .groupby(["route", "lead_time_bucket"], observed=True)
    .agg(
        flight_count=("legId","count"),
        avg_price=("totalFare","mean"),
        median_price=("totalFare","median"),
        min_price=("totalFare","min"),
        max_price=("totalFare","max"),
        std_price=("totalFare","std"),
    )
    .reset_index()
)

route_timing["lead_time_bucket"] = pd.Categorical(
    route_timing["lead_time_bucket"],
    categories=bucket_order,
    ordered=True
)

route_timing = route_timing.sort_values(["route","lead_time_bucket"])
route_timing.head(30)

,route,lead_time_bucket,flight_count,avg_price,median_price,min_price,max_price,std_price
0,ATL-BOS,0-3,5184,371.121329,360.10,136.10,1487.61,134.562860
1,ATL-BOS,4-7,6398,353.742082,342.20,67.88,1324.10,122.821392
2,ATL-BOS,8-14,10738,337.233551,326.60,55.78,1717.60,120.427748
3,ATL-BOS,15-30,18384,311.601155,298.60,55.78,1324.10,108.699952
4,ATL-BOS,31-60,27111,314.031774,297.20,55.88,1124.60,113.761978
5,ATL-CLT,0-3,4198,429.624631,408.60,242.20,1881.60,72.269366
6,ATL-CLT,4-7,4875,405.608355,398.10,240.70,1087.10,65.677148
7,ATL-CLT,8-14,6946,368.588534,358.60,198.60,977.10,74.473199
8,ATL-CLT,15-30,8543,274.811147,258.60,148.60,1921.60,105.368745
9,ATL-CLT,31-60,12855,261.706222,233.60,148.60,856.64,104.159884
10,ATL-DEN,0-3,2770,389.758238,367.20,133.98,1514.60,136.693616
11,ATL-DEN,4-7,3828,414.862866,398.60,123.98,1514.60,139.328067
12,ATL-DEN,8-14,7150,434.662241,445.60,113.98,1514.60,145.191608
13,ATL-DEN,15-30,13314,463.945560,454.60,77.78,2001.61,150.883543
14,ATL-DEN,31-60,18751,420.799218,413.60,92.06,1314.60,137.102276
15,ATL-DFW,0-3,2927,292.935453,244.60,123.98,2039.60,131.465271
16,ATL-DFW,4-7,3722,299.451051,263.60,93.00,1094.60,119.719244
17,ATL-DFW,8-14,6409,301.076633,268.60,72.59,1651.60,131.335075
18,ATL-DFW,15-30,11223,308.374154,284.61,61.97,1661.60,127.967882
19,ATL-DFW,31-60,17329,283.933264,268.59,61.97,1671.60,114.988848
20,ATL-DTW,0-3,4418,443.063072,492.20,69.98,1603.10,189.089259
21,ATL-DTW,4-7,5915,410.509549,408.60,47.98,1064.61,178.333576
22,ATL-DTW,8-14,10271,367.220243,390.21,42.79,1451.61,161.204211
23,ATL-DTW,15-30,12515,274.091425,268.59,42.79,1461.61,126.164850
24,ATL-DTW,31-60,19151,255.489169,232.10,42.79,988.60,113.192418
25,ATL-EWR,0-3,3034,254.646773,228.60,68.60,1540.60,114.310836
26,ATL-EWR,4-7,4156,224.912457,198.60,62.59,1540.60,94.518648
27,ATL-EWR,8-14,7132,215.279825,198.60,40.59,1540.60,94.926034
28,ATL-EWR,15-30,13151,245.056524,227.60,40.59,1771.60,117.310823
29,ATL-EWR,31-60,20538,250.879685,231.10,40.59,1761.61,114.707591

In [26]:
cheapest_window = (
    route_timing
    .sort_values(["route","median_price"])
    .groupby("route")
    .first()
    .reset_index()
)

cheapest_window.head()

,route,lead_time_bucket,flight_count,avg_price,median_price,min_price,max_price,std_price
0,ATL-BOS,31-60,27111,314.031774,297.2,55.88,1124.60,113.761978
1,ATL-CLT,31-60,12855,261.706222,233.6,148.60,856.64,104.159884
2,ATL-DEN,0-3,2770,389.758238,367.2,133.98,1514.60,136.693616
3,ATL-DFW,0-3,2927,292.935453,244.6,123.98,2039.60,131.465271
4,ATL-DTW,31-60,19151,255.489169,232.1,42.79,988.60,113.192418

In [34]:
# last minute price increase yani son dakika alımda bir fiyat artısı var mı buna bakıyoruz
lead_time_price_pct = route_timing.pivot(
    index="route",
    columns="lead_time_bucket",
    values="median_price"
).reset_index()

lead_time_price_pct["last_minute_price_increase_pct"] = (
    (lead_time_price_pct["0-3"] / lead_time_price_pct["8-14"] - 1) * 100
)
lead_time_price_pct["early_vs_late_pct"] = (
    (lead_time_price_pct["31-60"] / lead_time_price_pct["0-3"] - 1) * 100
)

lead_time_price_pct.sort_values("last_minute_price_increase_pct", ascending=False).head(10)

lead_time_bucket,route,0-3,4-7,8-14,15-30,31-60,last_minute_price_increase_pct,early_vs_late_pct
20,BOS-EWR,163.60,122.58,108.60,98.600,148.60,50.644567,-9.168704
79,DTW-DFW,498.60,417.20,338.60,337.610,313.60,47.253396,-37.103891
210,PHL-DTW,508.60,376.10,356.59,278.600,260.58,42.628789,-48.765238
64,DFW-DTW,498.60,429.60,349.59,342.105,304.60,42.624217,-38.908945
165,MIA-DTW,306.60,294.60,217.61,247.610,247.61,40.894260,-19.240052
85,DTW-MIA,305.61,294.60,217.61,257.600,247.61,40.439318,-18.978437
213,PHL-JFK,391.59,321.60,281.60,264.600,242.20,39.058949,-38.149595
127,JFK-MIA,206.60,174.60,148.60,198.600,216.11,39.030956,4.603098
88,DTW-PHL,508.60,377.60,366.10,288.600,282.20,38.923791,-44.514353
91,EWR-BOS,163.60,135.58,118.60,118.600,158.60,37.942664,-3.056235

In [32]:
# her rota için en uygun fiyatlı alınabilecek zaman aralığı

optimal_bucket = (
    route_timing
    .dropna(subset=["median_price", "lead_time_bucket"])
    .sort_values(["route", "median_price"])
    .groupby("route", as_index=False)
    .first()
)

optimal_bucket = optimal_bucket.rename(columns={
    "lead_time_bucket": "cheapest_lead_time_bucket",
    "median_price": "cheapest_median_price"
})

optimal_bucket.head()

,route,cheapest_lead_time_bucket,flight_count,avg_price,cheapest_median_price,min_price,max_price,std_price
0,ATL-BOS,31-60,27111,314.031774,297.2,55.88,1124.60,113.761978
1,ATL-CLT,31-60,12855,261.706222,233.6,148.60,856.64,104.159884
2,ATL-DEN,0-3,2770,389.758238,367.2,133.98,1514.60,136.693616
3,ATL-DFW,0-3,2927,292.935453,244.6,123.98,2039.60,131.465271
4,ATL-DTW,31-60,19151,255.489169,232.1,42.79,988.60,113.192418

In [36]:
# tabloları kaydetme
route_timing.to_csv("out/mart_route_lead_time.csv", index=False)
lead_time_price_pct.to_csv("out/mart_route_lead_time_price_pct.csv", index=False)
optimal_bucket.to_csv("out/mart_route_optimal_lead_time.csv", index=False)