<a href="https://colab.research.google.com/github/meozbrls/Flight_Prices_Analysis/blob/main/notebooks/flight_prices_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip -q install gdown pyarrow

import gdown, os
import pandas as pd

FILE_ID = "15MB8kYT9Ny2_CJ_SvFvPKTSBkmfUL0wv"   # linkten
OUT_PATH = "data/flightprices_2022_06.parquet"  # local çalışma yolu

os.makedirs("data", exist_ok=True)

if not os.path.exists(OUT_PATH):
    url = f"https://drive.google.com/uc?id={FILE_ID}"
    gdown.download(url, OUT_PATH, quiet=False)

df = pd.read_parquet(OUT_PATH)
df.head()

Downloading...
From (original): https://drive.google.com/uc?id=15MB8kYT9Ny2_CJ_SvFvPKTSBkmfUL0wv
From (redirected): https://drive.google.com/uc?id=15MB8kYT9Ny2_CJ_SvFvPKTSBkmfUL0wv&confirm=t&uuid=d1c18915-6c06-48d7-b078-9423d2648b95
To: /content/data/flightprices_2022_06.parquet
100%|██████████| 772M/772M [00:20<00:00, 37.1MB/s]

,legId,searchDate,flightDate,startingAirport,destinationAirport,fareBasisCode,travelDuration,elapsedDays,isBasicEconomy,isRefundable,...,baseFare,totalFare,seatsRemaining,totalTravelDistance,segmentsDepartureTimeRaw,segmentsArrivalTimeRaw,segmentsAirlineName,segmentsAirlineCode,segmentsEquipmentDescription,segmentsCabinCode
0,684e879e0f2cefcdbfba1f7e35f897a3,2022-04-17,2022-06-01,ATL,BOS,RA7NR,PT2H28M,0,False,False,...,31.00,87.59,0,NaN,2022-06-01T06:25:00.000-04:00,2022-06-01T08:53:00.000-04:00,Spirit Airlines,NK,Airbus A319,coach
1,222cfd6d1b0d5732602a3e82ad7730c3,2022-04-17,2022-06-01,ATL,BOS,W21ZXP5,PT4H50M,0,False,False,...,65.48,93.99,4,947.0,2022-06-01T06:00:00.000-04:00||2022-06-01T09:3...,2022-06-01T08:05:00.000-04:00||2022-06-01T10:5...,Frontier Airlines||Frontier Airlines,F9||F9,Airbus A320||,coach||coach
2,5b13b222dff8d227c34ba5f0b10a8b5a,2022-04-17,2022-06-01,ATL,BOS,GA7NR,PT8H38M,1,False,False,...,25.58,95.16,0,NaN,2022-06-01T15:29:00.000-04:00||2022-06-01T20:5...,2022-06-01T17:28:00.000-04:00||2022-06-02T00:0...,Spirit Airlines||Spirit Airlines,NK||NK,||,coach||coach
3,71cf5163f5efbd007c87aeef85e0c2cc,2022-04-17,2022-06-01,ATL,BOS,UA3NX0MC,PT2H37M,0,False,False,...,161.86,188.60,9,947.0,2022-06-01T12:58:00.000-04:00,2022-06-01T15:35:00.000-04:00,Delta,DL,None,coach
4,141ef83862caac6be402158433b55c1f,2022-04-17,2022-06-01,ATL,BOS,UAUOA0MC,PT2H41M,0,False,False,...,161.86,188.60,2,947.0,2022-06-01T16:10:00.000-04:00,2022-06-01T18:51:00.000-04:00,Delta,DL,Airbus A321,coach

In [2]:
df.shape

(11774933, 21)