<a href="https://colab.research.google.com/github/meozbrls/Flight_Prices_Analysis/blob/buse/notebooks/price_dynamics_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip -q install gdown pyarrow

import gdown, os
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [2]:
import os
os.makedirs("data", exist_ok=True)
os.makedirs("out", exist_ok=True)
print("Klasörler hazır")

Klasörler hazır

In [3]:
FILE_ID = "1TrX_MuNS-EvrjKutCqzLnOa2W6X6Y3Dm"
OUTPUT_PATH = "data/flightprices.csv"

url = f"https://drive.google.com/uc?id={FILE_ID}"
gdown.download(url, OUTPUT_PATH, quiet=False)

print("Dosya indirildi:", OUTPUT_PATH)

Downloading...
From (original): https://drive.google.com/uc?id=1TrX_MuNS-EvrjKutCqzLnOa2W6X6Y3Dm
From (redirected): https://drive.google.com/uc?id=1TrX_MuNS-EvrjKutCqzLnOa2W6X6Y3Dm&confirm=t&uuid=cd688e7d-18b0-4ffb-bb93-c7925aea7ea2
To: /content/data/flightprices.csv
100%|██████████| 2.63G/2.63G [00:44<00:00, 59.3MB/s]

Dosya indirildi: data/flightprices.csv

In [4]:
import os
os.listdir("data")

['flightprices.csv']

In [5]:
USE_COLS = [
    "legId",
    "searchDate","flightDate",
    "startingAirport","destinationAirport",
    "baseFare","totalFare",
    "isNonStop","isBasicEconomy",
    "seatsRemaining",
    "segmentsAirlineName","segmentsAirlineCode",
    "travelDuration"
]

In [6]:
import pandas as pd
import os

INPUT_CSV = "data/flightprices.csv"
OUTPUT_CSV = "data/price_time_core.csv"

USE_COLS = [
    "legId",
    "searchDate","flightDate",
    "startingAirport","destinationAirport",
    "baseFare","totalFare",
    "isNonStop","isBasicEconomy",
    "seatsRemaining",
    "segmentsAirlineName","segmentsAirlineCode",
    "travelDuration"
]

CHUNK_SIZE = 300_000

# varsa sil
if os.path.exists(OUTPUT_CSV):
    os.remove(OUTPUT_CSV)

chunks = pd.read_csv(
    INPUT_CSV,
    usecols=USE_COLS,
    chunksize=CHUNK_SIZE,
    low_memory=False
)

for i, chunk in enumerate(chunks):
    chunk.to_csv(OUTPUT_CSV, index=False, mode="a", header=(i==0))
    print(f"Chunk {i+1} yazıldı: {chunk.shape}")

print("✅ Yeni CSV oluşturuldu:", OUTPUT_CSV)

Chunk 1 yazıldı: (300000, 13)
Chunk 2 yazıldı: (300000, 13)
Chunk 3 yazıldı: (300000, 13)
Chunk 4 yazıldı: (300000, 13)
Chunk 5 yazıldı: (300000, 13)
Chunk 6 yazıldı: (300000, 13)
Chunk 7 yazıldı: (300000, 13)
Chunk 8 yazıldı: (300000, 13)
Chunk 9 yazıldı: (300000, 13)
Chunk 10 yazıldı: (300000, 13)
Chunk 11 yazıldı: (300000, 13)
Chunk 12 yazıldı: (300000, 13)
Chunk 13 yazıldı: (300000, 13)
Chunk 14 yazıldı: (300000, 13)
Chunk 15 yazıldı: (300000, 13)
Chunk 16 yazıldı: (300000, 13)
Chunk 17 yazıldı: (300000, 13)
Chunk 18 yazıldı: (300000, 13)
Chunk 19 yazıldı: (300000, 13)
Chunk 20 yazıldı: (300000, 13)
Chunk 21 yazıldı: (300000, 13)
Chunk 22 yazıldı: (300000, 13)
Chunk 23 yazıldı: (300000, 13)
Chunk 24 yazıldı: (300000, 13)
Chunk 25 yazıldı: (300000, 13)
Chunk 26 yazıldı: (300000, 13)
Chunk 27 yazıldı: (300000, 13)
Chunk 28 yazıldı: (300000, 13)
Chunk 29 yazıldı: (300000, 13)
Chunk 30 yazıldı: (300000, 13)
Chunk 31 yazıldı: (300000, 13)
Chunk 32 yazıldı: (300000, 13)
Chunk 33 yazıldı: (300000, 13)
Chunk 34 yazıldı: (300000, 13)
Chunk 35 yazıldı: (300000, 13)
Chunk 36 yazıldı: (300000, 13)
Chunk 37 yazıldı: (300000, 13)
Chunk 38 yazıldı: (300000, 13)
Chunk 39 yazıldı: (300000, 13)
Chunk 40 yazıldı: (74933, 13)
✅ Yeni CSV oluşturuldu: data/price_time_core.csv

In [7]:
df = pd.read_csv("data/price_time_core.csv", low_memory=False)
print(df.shape)
df.head()

(11774933, 13)

,legId,searchDate,flightDate,startingAirport,destinationAirport,travelDuration,isBasicEconomy,isNonStop,baseFare,totalFare,seatsRemaining,segmentsAirlineName,segmentsAirlineCode
0,684e879e0f2cefcdbfba1f7e35f897a3,2022-04-17,2022-06-01,ATL,BOS,PT2H28M,False,True,31.00,87.59,0,Spirit Airlines,NK
1,222cfd6d1b0d5732602a3e82ad7730c3,2022-04-17,2022-06-01,ATL,BOS,PT4H50M,False,False,65.48,93.99,4,Frontier Airlines||Frontier Airlines,F9||F9
2,5b13b222dff8d227c34ba5f0b10a8b5a,2022-04-17,2022-06-01,ATL,BOS,PT8H38M,False,False,25.58,95.16,0,Spirit Airlines||Spirit Airlines,NK||NK
3,71cf5163f5efbd007c87aeef85e0c2cc,2022-04-17,2022-06-01,ATL,BOS,PT2H37M,False,True,161.86,188.60,9,Delta,DL
4,141ef83862caac6be402158433b55c1f,2022-04-17,2022-06-01,ATL,BOS,PT2H41M,False,True,161.86,188.60,2,Delta,DL

In [9]:
import pandas as pd
import numpy as np

# 1) Tarihleri datetime'a çevir
df["searchDate"] = pd.to_datetime(df["searchDate"], errors="coerce")
df["flightDate"] = pd.to_datetime(df["flightDate"], errors="coerce")

# 2) Geçersiz tarihleri temizle
df = df.dropna(subset=["searchDate", "flightDate"]).copy()

# 3) days_before_flight
df["days_before_flight"] = (df["flightDate"] - df["searchDate"]).dt.days

# negatif olanlar data hatası → at
df = df[df["days_before_flight"] >= 0].copy()

# 4) Route
df["route"] = df["startingAirport"].astype(str) + "-" + df["destinationAirport"].astype(str)

# 5) flight_month (YYYY-MM)
df["flight_month"] = df["flightDate"].dt.to_period("M").astype(str)

# 6) Lead time bucket
bins = [-1, 3, 7, 14, 30, 60, 10**9]
labels = ["0-3", "4-7", "8-14", "15-30", "31-60", "61+"]

df["lead_time_bucket"] = pd.cut(df["days_before_flight"], bins=bins, labels=labels)

# 7) Airline (ilk segment)
df["airline"] = df["segmentsAirlineName"].astype(str).str.split(r"\|\|").str[0]
df["airline_code"] = df["segmentsAirlineCode"].astype(str).str.split(r"\|\|").str[0]

# 8) Price numeric + basic sanity
df["totalFare"] = pd.to_numeric(df["totalFare"], errors="coerce")
df["baseFare"] = pd.to_numeric(df["baseFare"], errors="coerce")
df = df.dropna(subset=["totalFare"]).copy()
df = df[df["totalFare"] > 0].copy()

print("Feature engineering bitti. Son shape:", df.shape)
df[["legId","searchDate","flightDate","days_before_flight","lead_time_bucket","route","flight_month","airline","totalFare"]].head()

✅ Feature engineering bitti. Son shape: (11774933, 19)

,legId,searchDate,flightDate,days_before_flight,lead_time_bucket,route,flight_month,airline,totalFare
0,684e879e0f2cefcdbfba1f7e35f897a3,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Spirit Airlines,87.59
1,222cfd6d1b0d5732602a3e82ad7730c3,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Frontier Airlines,93.99
2,5b13b222dff8d227c34ba5f0b10a8b5a,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Spirit Airlines,95.16
3,71cf5163f5efbd007c87aeef85e0c2cc,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Delta,188.60
4,141ef83862caac6be402158433b55c1f,2022-04-17,2022-06-01,45,31-60,ATL-BOS,2022-06,Delta,188.60

In [10]:
df["lead_time_bucket"].value_counts()

lead_time_bucket
31-60    4935909
15-30    3153881
8-14     1827298
4-7      1052013
0-3       805832
61+            0
Name: count, dtype: int64

In [14]:
price_df = df[
    [
        "legId",
        "searchDate",
        "flightDate",
        "days_before_flight",
        "lead_time_bucket",
        "route",
        "airline",
        "totalFare"
    ]
].copy()

price_df.head()

,legId,searchDate,flightDate,days_before_flight,lead_time_bucket,route,airline,totalFare
0,684e879e0f2cefcdbfba1f7e35f897a3,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Spirit Airlines,87.59
1,222cfd6d1b0d5732602a3e82ad7730c3,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Frontier Airlines,93.99
2,5b13b222dff8d227c34ba5f0b10a8b5a,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Spirit Airlines,95.16
3,71cf5163f5efbd007c87aeef85e0c2cc,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Delta,188.60
4,141ef83862caac6be402158433b55c1f,2022-04-17,2022-06-01,45,31-60,ATL-BOS,Delta,188.60

In [13]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11774933 entries, 0 to 11774932
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   legId               object
 1   searchDate          datetime64[ns]
 2   flightDate          datetime64[ns]
 3   days_before_flight  int64
 4   lead_time_bucket    category
 5   route               object
 6   airline             object
 7   totalFare           float64
dtypes: category(1), datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 640.1+ MB

In [16]:
global_timing = (
    price_df
    .groupby("lead_time_bucket")
    .agg(
        flight_count = ("legId", "count"),
        avg_price    = ("totalFare", "mean"),
        median_price = ("totalFare", "median"),
        min_price    = ("totalFare", "min"),
        max_price    = ("totalFare", "max"),
        std_price    = ("totalFare", "std"),
    )
    .reset_index()
)

# bucket sırasını mantıklı hale getirelim
bucket_order = ["0-3","4-7","8-14","15-30","31-60","61+"]
global_timing["lead_time_bucket"] = pd.Categorical(
    global_timing["lead_time_bucket"],
    categories=bucket_order,
    ordered=True
)

global_timing = global_timing.sort_values("lead_time_bucket")

global_timing

/tmp/ipython-input-836528079.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("lead_time_bucket")

,lead_time_bucket,flight_count,avg_price,median_price,min_price,max_price,std_price
0,0-3,805832,400.413046,358.6,30.69,4752.60,227.367352
1,4-7,1052013,399.666675,362.2,29.59,4752.60,220.848119
2,8-14,1827298,402.781791,371.6,29.59,7554.20,224.023025
3,15-30,3153881,410.705152,381.6,30.69,8260.61,226.562836
4,31-60,4935909,392.519788,365.6,30.69,8260.61,209.537686
5,61+,0,NaN,NaN,NaN,NaN,NaN

In [23]:
global_timing = global_timing[global_timing["lead_time_bucket"] != "61+"].copy()

In [24]:
global_timing.sort_values("median_price")

,lead_time_bucket,flight_count,avg_price,median_price,min_price,max_price,std_price
0,0-3,805832,400.413046,358.6,30.69,4752.60,227.367352
1,4-7,1052013,399.666675,362.2,29.59,4752.60,220.848119
4,31-60,4935909,392.519788,365.6,30.69,8260.61,209.537686
2,8-14,1827298,402.781791,371.6,29.59,7554.20,224.023025
3,15-30,3153881,410.705152,381.6,30.69,8260.61,226.562836

In [29]:
gt = global_timing.set_index("lead_time_bucket")["median_price"]

gt.loc["0-3"] > gt.loc["8-14"]

np.False_

In [31]:
global_timing.to_csv("out/mart_time_global.csv", index=False)

In [32]:
# dosyayı indirme
#from google.colab import files

#files.download("out/mart_time_global.csv")